.home{
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    flex-direction: column;
}
.conteudo-container{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 80px;
}

.conteudo-container .texto{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 520px;
}
.conteudo-container h2{
    width: 558px;
    font-size: 4rem;
    font-weight: 400;
    font-style: italic;
}
.conteudo-container div{
    display: flex;
    justify-content: flex-start;
    width: 900px;
}

.texto-laranja {
    color: var(--cor-primaria);
}

.destaque-container{
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}


/* TABLET */
@media (max-width: 768px){
    .home{
        background-image: url(../img/background-tablet.png);
        background-position: right top;
    }
    .conteudo-container{
        padding: 0;
        flex-direction: column-reverse;
        align-items: center;
    }
    .conteudo-container div{
        justify-content: center;
        align-items: flex-end;
    }
    .conteudo-container .imagem-principal-home{
        padding-top: 200px;
        margin-top: 200px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }


    .conteudo-container .texto{
        justify-content: center;
        align-self: flex-end;
        height: 300px;
    }
    .destaque-container{
        display: none;
    }
}