.servicos{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 80px 64px 80px;
}
.servicos-titulo{
    height: 65px;
    display: flex;
    align-items: center;
    gap: 32px;
}
.servicos-titulo h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--cor-primaria);
}

.servicos-conteudo{
    display: flex;
    justify-content: space-between;
}

.servico {
    height: 500px;
    width: 400px;
    border: 4px solid var(--cor-primaria);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0 48px;
}
.servico img{
    filter: drop-shadow(2px 2px 2px var(--cor-sombra))
}

.servico h4{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--cor-primaria);
    text-shadow: 2px 2px 2px var(--cor-sombra);
}

.servico p{
    text-align: center;
    text-shadow: 2px 2px 8px var(--cor-sombra);
}